---
layout: default
title: "About"
---

<div class="mdl-cell mdl-cell--10-col mdl-cell--1-offset mdl-card mdl-shadow--4dp">
    <div class="mdl-card__title">
        <div class="card-title"> {{ page.title }} </div>
    </div>
    <div class="mdl-grid mdl-card__supporting-text">
        <div class="padding-top">
            <p>
                I am a Network Engineer, working as an Automation and Security Engineer, living in Brisbane, Australia.
            </p>
            <p>
                I have a strong background in {% include chip.html name="Cisco" %} networking but have a broad range of interests in {% include chip.html name="load balancing" %} and application delivery, {% include chip.html name="security" %}, {% include chip.html name="automation" %} and much more.
            </p>
            <p>
                I started as a Network Engineer in 2012 and worked directly in the Government sector where I was responsible for planning, deploying and maintaining highly available, secure networks across Australia and overseas. Since 2017 I have been working for a service integrator where I have delivered a vast range of network and security solutions for small and large enterprises. Over the past couple of years, I've had a much larger focus on delivering security and automated solutions.
            </p>
            <p>
                In my spare time experimenting with new technology solutions and contributing to some open source projects.
            </p>
            <p>
                The little gray circles throughout the site are clickable, so feel free to have a look and check out the related items on th technology or topic of choice.
            </p>
        </div>
    </div>
    <div class="mdl-card__actions mdl-card--border center-text">
        <a href="{{ site.linkedin }}" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon margin-side-large"><i class="fa fa-linkedin-square icon-button icon-margin" aria-hidden="true"></i></a>
        <a href="{{ site.github }}" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon margin-side-large"><i class="fa fa-github icon-button icon-margin" aria-hidden="true"></i></a>
    </div>
</div>
