<ul id="certlist">
  <li>
    <a href="https://www.credly.com/badges/2ff8c590-ad21-4ea7-87ed-b943fdc152ea/public_url" target="_blank">
      <img src="{{ site.baseurl }}public/certIcons/cert_ccna.png"/>
      <span class="clip"></span>
      CCNA
    </a>
  </li>
  <li>
    <a href="https://www.credly.com/badges/083b953c-ceb3-4983-9a77-5ac998c28d66/public_url" target="_blank">
      <img src="{{ site.baseurl }}public/certIcons/cert_fsca.png"/>
      <span class="clip"></span>
      FSCA
    </a>
  </li>
  <li>
    <a href="https://www.credly.com/badges/f7c3ee6d-e1ba-41e5-b6de-28e033b61e20/public_url" target="_blank">
      <img src="{{ site.baseurl }}public/certIcons/cert_f5_ca.png"/>
      <span class="clip"></span>
      F5 CA
    </a>
  </li>
  <li>
    <a href="https://www.credly.com/badges/505b0cd7-bc77-4fb6-b9d3-653e804abbc0/public_url" target="_blank">
      <img src="{{ site.baseurl }}public/certIcons/cert_nginx_core.png"/>
      <span class="clip"></span>
      Nginx Core
    </a>
  </li>
  <li>
    <a href="https://www.credly.com/badges/ae1edb9f-327d-45c4-a25c-a1550bbbc845/public_url" target="_blank">
      <img src="{{ site.baseurl }}public/certIcons/cert_vmc_on_aws_pro.png"/>
      <span class="clip"></span>
      VMC on AWS
    </a>
  </li>
</ul>
