<ul id="applist">
    <li>
      <a href="https://itunes.apple.com/au/app/storypod-jhc/id620265487?mt=8" target="_blank">
        <img src="{{ site.baseurl }}public/appIcons/iconJHC.jpeg"/>
        <span class="clip"></span>
        JHC
      </a>
    </li>
  <li>
    <a href="https://itunes.apple.com/au/app/wotif.com-hotel-bookings-on/id531549799?mt=8" target="_blank">
      <img src="{{ site.baseurl }}public/appIcons/iconWotif.png"/>
      <span class="clip"></span>
      Wotif
    </a>
  </li>
  <li>
    <a href="https://itunes.apple.com/au/app/grow-by-anz-australia/id870929663?mt=8" target="_blank">
      <img src="{{ site.baseurl }}public/appIcons/iconANZGrow.png"/>
      <span class="clip"></span>
      Grow
    </a>
  </li>
  <li>
    <a href="https://itunes.apple.com/au/app/ubet-sports-racing/id933682574?mt=8" target="_blank">
      <img src="{{ site.baseurl }}public/appIcons/iconUbet.png"/>
      <span class="clip"></span>
      Ubet
    </a>
  </li>
  <li>
    <a href="https://itunes.apple.com/au/app/cricket-australia-live-official/id720516760?mt=8" target="_blank">
      <img src="{{ site.baseurl }}public/appIcons/iconCricketAustralia.jpeg"/>
      <span class="clip"></span>
      Cricket Australia
    </a>
  </li>
<li>
  <a href="https://itunes.apple.com/au/app/sportsbet/id418221992?mt=8" target="_blank">
    <img src="{{ site.baseurl }}public/appIcons/iconSportsBet.png"/>
    <span class="clip"></span>
    SportsBet
  </a>
</li>
  <li>
    <a href="https://itunes.apple.com/au/app/official-nrl-app-2014/id442363523?mt=8" target="_blank">
      <img src="{{ site.baseurl }}public/appIcons/iconNRL.png"/>
      <span class="clip"></span>
      NRL
    </a>
  </li>
  <li>
    <a href="https://itunes.apple.com/au/app/racing-network-official/id554578934?mt=8" target="_blank">
      <img src="{{ site.baseurl }}public/appIcons/iconRacingNetwokr.jpeg"/>
      <span class="clip">
      </span>
      Racing Network
    </a>
  </li>
  <li>
    <a href="https://itunes.apple.com/au/app/ladbrokes/id710375963?mt=8" target=_blank">
      <img src="{{ site.baseurl }}public/appIcons/iconLadbrokes.jpeg"/>
      <span class="clip"></span>
      Ladbrokes
    </a>
  </li>
</ul>
