<ul id="certlist">
  <li>
    <a href="https://www.credly.com/badges/2ff8c590-ad21-4ea7-87ed-b943fdc152ea/public_url" target="_blank">
      <img src="{{ site.baseurl }}public/certIcons/cert_ccna.png"/>
      <span class="clip"></span>
      CCNA
    </a>
  </li>
  <li>
    <a href="https://www.credly.com/badges/083b953c-ceb3-4983-9a77-5ac998c28d66/public_url" target="_blank">
      <img src="{{ site.baseurl }}public/certIcons/cert_fsca.png"/>
      <span class="clip"></span>
      FSCA
    </a>
  </li>
  <li>
    <a href="https://www.credly.com/badges/f7c3ee6d-e1ba-41e5-b6de-28e033b61e20/public_url" target="_blank">
      <img src="{{ site.baseurl }}public/certIcons/cert_f5_ca.png"/>
      <span class="clip"></span>
      F5 CA
    </a>
  </li>
  <li>
    <a href="https://www.credly.com/badges/1315e0fb-6340-4f67-b6ea-aa79cc0305b3/public_url" target="_blank">
      <img src="{{ site.baseurl }}public/certIcons/cert_jcina-Junos.png"/>
      <span class="clip"></span>
      JNCIA Junos
    </a>
  </li>
  <li>
    <a href="https://www.credly.com/badges/505b0cd7-bc77-4fb6-b9d3-653e804abbc0/public_url" target="_blank">
      <img src="{{ site.baseurl }}public/certIcons/cert_nginx_core.png"/>
      <span class="clip"></span>
      Nginx Core
    </a>
  </li>
  <li>
    <a href="https://www.credly.com/badges/b6634e00-9901-44c6-b78f-0712db6d9658/public_url" target="_blank">
      <img src="{{ site.baseurl }}public/certIcons/cert_pcnse.png"/>
      <span class="clip"></span>
      PCNSE
    </a>
  </li>
  <li>
    <a href="https://www.credly.com/badges/3b7a5e59-66cb-4647-9d7b-3a0a1c8d4a95/public_url" target="_blank">
      <img src="{{ site.baseurl }}public/certIcons/cert_pse.png"/>
      <span class="clip"></span>
      PSE Foundations
    </a>
  </li>
  <li>
    <a href="https://www.credly.com/badges/ae1edb9f-327d-45c4-a25c-a1550bbbc845/public_url" target="_blank">
      <img src="{{ site.baseurl }}public/certIcons/cert_vmc_on_aws_pro.png"/>
      <span class="clip"></span>
      VMC on AWS
    </a>
  </li>
</ul>
