<div class="footer">
  <p>Adapted from <a href="http://lanyon.getpoole.com" target="_blank">Lanyon</a>, Hosted on <a href="https://github.com/johnhatvani/johnhatvani.github.io" target="_blank">GitHub</a> &middot; © John Hatvani</p>
  <div class="container" style="font-size:1.5em">
    <a href="{{ site.twitter }}" target="_blank" class="socicon socicon-twitter"></a> &nbsp;
    <a href="{{ site.linkedin }}" target="_blank" class="socicon socicon-linkedin"></a> &nbsp;
    <a href="{{ site.github }}"  target="_blank"class="socicon socicon-github"></a> &nbsp;
    <a href="{{ site.stackoverflow }}" target="_blank" class="socicon socicon-stackoverflow"></a>
    </div>
</div>
